*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    line-height: 1;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;

    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}


/* 🔹 Для стандартного UI: Arial, Helvetica, sans-serif
🔹 Для классики и текста: Times New Roman, serif
🔹 Для кода: Courier New, monospace
🔹 Для скорости: system-ui, sans-serif

📌 Если не знаешь, что выбрать — бери Arial! 😊 */

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
input,
textarea {
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    display: block;
    max-width: 100%;
}

body,
button,
input,
textarea,
select {
    font-family: inherit;
}



button {
    cursor: pointer;
}

input,
button,
textarea,
select {
    appearance: none;
}

html,
body {
    height: 100%;
}
