:root {
    --app-bg: #e8ecf2; /*background*/
    --main-bg: #fff; /*background*/
    --br-10: 10px; /*border-radius*/
    --p-15: 15px; /*padding*/
    --p-10: 10px; /*padding*/
    --g-20: 20px; /*gap*/
    --fs-30: 30px; /*font-size*/
    --fs-30: 24px; /*font-size*/

}
/* Красный (#D32F2F) — ассоциируется с советской символикой, флагами и гербом.

Белый (#FFFFFF) — чистота и минимализм.

Зеленый (#4CAF50) — цвета, ассоциирующиеся с индустриальным дизайном и военной техникой.

Черный (#212121) — элегантность и контрастность.

Оранжевый (#FF7043) — теплый оттенок, часто использующийся в советском дизайне, отдает атмосферой тепла и уюта.

Коричневый (#3E2723) — цвета, встречающиеся на старых деревянных покрытиях и мебели.

Темно-синий (#1E2A47) — цвета, ассоциирующиеся с официальной формой и промышленным дизайном.

Серый (#607D8B) — нейтральный и индустриальный оттенок.

Желтый (#FFEB3B) — яркий и привлекательный цвет, часто использующийся в знаках, марках и советской рекламе.

Синий (#1976D2) — оттенок, символизирующий серьезность и стабильность.

Основной фон — Белый (#FFFFFF) или светлый серый (#F5F5F5)

Основной цвет кнопок и ссылок — Красный (#D32F2F) или Темно-синий (#1E2A47)

Акцентные цвета — Оранжевый (#FF7043), Желтый (#FFEB3B)

Текст — Черный (#212121) или темно-серый (#424242)

Фон для секций — Светло-зеленый (#C8E6C9) или Темно-зеленый (#388E3C) */